.npmignore
.travis.yml
.jshintrc
.gitattributes
.DS_Store
.tmp
.sass-cache
test
app/templates/node_modules/
app/templates/bower_components/
app/templates/_dev/.sass-cache/
app/templates/.sass-cache/
app/templates/_prod/