@import "compass/reset";
@import "compass/css3";

@import "fonts";
@import "mixins";

*:not(input) {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 62.5%;
}

html.touch body {
  // overflow: hidden;
}

body {
  background: white;
  font-family: $main_font;
  @include font-size(1.8);
  color: #3f3f3f;
  @include user-select(none);
}